body {
    background-color: rgb(199, 189, 196);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 350px;
    height: 500px;
    padding: 20px;
    background-color: rgba(86, 83, 83, 0.859);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}

input {
    background-color: rgb(103, 174, 148);
    width: 320px;
    height: 100px;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    font-size: 70px;
    text-align: center;
}

.line1 {
    display: flex;
}

.line2 {
    display: flex;
    height: 50px;
    width: 350px;
    justify-content: space-between;
}

.backspaceBtn {
    width: 150px;
    background-color: gainsboro;
}

.clearBtn {
    background-color: rgb(243, 124, 80);
    width: 90px;
}

.opBtn {
    width: 90px;
    background-color: gainsboro;
}

.num-btn {
    width: 80px;
    background-color: gainsboro;
}
